body{
    background-color: black;
}
header{
    padding: 15x;
    text-align: center;
    color: white;
}
div{
    border: 1px solid red;
}
div.Titulo{
    text-align: right;
}
.Contenedor{
    display: flex;
    align-items: center;
}
.Imagen{
    flex: 1;
    margin-right: 20px;
}
.Iformacion{
    flex: 2;
    margin-left: 200px;
    margin-right: 200px;
}
p{
    color: white;
}
ol{
    color: white;
    left: 10px;
}