body{
    background-color: black;
}
header{
    padding: 15x;
    text-align: center;
    color: white;
}
div{
    box-shadow:0 0 10px 5px rgb(192, 183, 142); ;
}
div.Titulo{
    text-align: right;
}
.Contenedor{
    display: flex;
    align-items: center;
}
.Imagen{
    flex: 1;
    margin-right: 20px;
}
.Iformacion{
    flex: 2;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}
p{
    color: white;
    text-align: justify;
}
a {
    color: blue;
    text-decoration: none;
  }
  a:visited {
    color: rgb(156, 65, 156);
  }
  a:hover {
    color: darkblue;
  }

ol,ul {
    display: inline-block;
    vertical-align: top;
    color: white;
  }